* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(https://github.com/CiurescuP/weather-app/blob/main/images/background-pic.jpg?raw=true);
  background-size: cover;
  background-position: center;
}

.container {
  position: relative;
  width: 400px;
  height: 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  border: 5px solid rgba(0, 0, 0, 0.329);
  border-radius: 18px;
  padding: 20px;
  color: #fff;
  transition: height 0.6s ease;
}

.search-box {
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}

.search-box i {
  position: absolute;
  left: 17px;
  font-size: 22px;
}

.search-box input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 38px;
}

.search-box input::placeholder {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
}

.search-box button {
  position: absolute;
  width: 50px;
  height: 50px;
  right: 0;
  color: #fff;
  border: none;
  outline: none;
  background: transparent;
  padding: 0 5px 0 5px;
  font-size: 22px;
  transition: 0.4s ease;
  cursor: pointer;
}

.weather-box {
  text-align: center;
  margin: 40px 0;
}

.weather-box,
.weather-details,
.not-found {
  overflow: hidden;
  visibility: hidden;
}

.weather-box.active,
.weather-details.active,
.not-found.active {
  visibility: visible;
}

.weather-box .box,
.not-found .box {
  transform: translateY(-100%);
}

.weather-box.active .box,
.not-found.active .box {
  transform: translateY(0%);
  transition: transform 1s ease;
  transition-delay: 0.6s;
}
.weather-box img {
  width: 60%;
}

.weather-box .temperature {
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}

.weather-box .temperature span {
  position: absolute;
  font-size: 24px;
  margin-left: 2px;
}

.weather-box .description {
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  margin-left: -20px;
}

.weather-details {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
  margin-bottom: -25px;
}

.weather-details .humidity,
.weather-details .wind {
  display: flex;
  align-items: center;
  width: 50%;
  transform: translateY(-100%);
}

.weather-details.active .humidity,
.weather-details.active .wind {
  transform: translateY(-0%);
  transition: transform 1s ease;
  transition-delay: 1.2s;
}

.weather-details .humidity {
  padding-left: 20px;
  justify-content: flex-start;
}

.weather-details .wind {
  padding-right: 20px;
  justify-content: flex-end;
}
.weather-details i {
  font-size: 45px;
  margin-right: 10px;
}

.weather-details span {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
}

.weather-details p {
  font-size: 14px;
  font-weight: 500;
}

.not-found {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin-top: 90px;
}

.not-found img {
  width: 55%;
}

.not-found p {
  font-size: 22px;
  font-weight: 500;
  margin-top: 12px;
}
